<header class="nav-header">
    <div class="nav-container">
        <a href="/class7" class="nav-brand">Calgary01</a>
        <nav class="nav-links">
            <a href="/class7" class="nav-link active">
                <i class="fa-solid fa-car-side"></i> CLASS 7
            </a>
            <a href="#" class="nav-link">
                <i class="fa-solid fa-briefcase"></i> 找工作
            </a>
            <a href="https://discord.gg/P98c5mVr" class="nav-link" target="_blank">
                <i class="fa-brands fa-discord"></i> 社区
            </a>
        </nav>
    </div>
</header> 